.header {
  color: rgba(56, 0, 225, 0.762);
  background-color: rgb(255, 38, 0);
  padding: 30px;
  text-align: center;
  font-family: Impact, sans-serif;
  letter-spacing: 5px;
  margin-top: 80px;
  opacity: .9;
  border-radius: 6em / 6em;
}

.userSection {
  padding: 100px;
  background-color: rgb(255, 234, 112);
}

div label {
  color: rgb(255, 38, 0);
  font-family: impact, sans-serif;
  font-size: 50px;
}

form .btn {
  font-family: impact;
  font-size: xx-large;
  background-color: rgb(255, 38, 0);
  border: solid #323330;
  border-radius: 50%;
  border-width: 20px;
  padding: 100px;
  opacity: .8;
  margin: auto;
  display: block;
  margin-top: 100px
}

form .btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  opacity: 1;
  padding: 100px;
  border: solid #10100f;
  border-radius: 50%;
  border-width: 20px;
}

#result {
  color: #323330;
  font-family: impact;
  font-size: xx-large;
  word-spacing: 10px;
  margin-top: 50px;
}

.userSection {
  border: dashed rgba(255, 168, 255, 0.741);
  border-width: 13px;
  border-radius: 6em / 6em;

}
